/**
***  RESETS
**/
html,
body{
	margin: 0;
}

h1,
h2,
h3,
h4,
h5{
	margin:0;
}

a{
	text-decoration: none;
}


/**
***  COLORS
**/
$pink: #F063B8;
$purple: #9C69E2;
$light-gray: #4B5D68;
$dark-gray: #212353;
$light-pink: rgba(240, 99, 184, 0.15);

$body-background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);

$button-background-white: #FFF;
$button-shadow: rgba(75, 93, 104, 0.1);


/**
***  SETTING COLORS
**/
body{
	background: $body-background;
	color: $light-gray;
}
.background-light-pink{
	background: $light-pink;
}
.background-purple,
.button--purple{
	background-color: $purple;
	color: white;
}
.dark-gray-text{
	color: $dark-gray;
}


/**
***  FONTS
**/
body{
	line-height: 160%;
	font-size: 18px;
	font-family: Avenir;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3{
	font-family: Helvetica;
	font-weight: 700;
}
h1{
	font-size: 80px;
	line-height: 110%;
}
h2{
	font-size: 40px;
	line-height: 130%;
}
h3{
	font-size: 24px;
	line-height: 130%;
	font-weight: 400;
}
.small-text{
	font-size: 16px;
	line-height: 160%;
}


/**
***  STRUCTURE & MIXINS
**/
.content-width{
	width: 100%;
	max-width: 1117px;
	margin:auto;
}
.flex{
	display: flex;

	&--center{
		align-items: center;
	}

	&--half-width > *{
		width: 50%;
	}

	&--relative{
		position: relative;
	}
}


/**
***  PAGE CONTENT: HEADER
**/
.header{
	padding: 47px 0;
	justify-content: space-between;

	&__nav{
		display: flex;
		align-items: center;
		grid-gap: 20px;

		&__logo{
			align-items: flex-end;
			grid-gap: 9px;
			margin-right: 120px;
			width: 49px;

			&:before,
			&:after{
				content: "";
				display: block;
				width: 20px;
				height: 20px;
				background: gray;
				border-radius: 20px;
			}

			&:before{
				background-color: $purple;
			}

			&:after{
				height: 35px;
				background-color: $pink;
			}

			span{
				display:none;
			}
		}

		&__link{
			color: $light-gray;

			&:hover,
			&--active{
				color: $dark-gray;
				font-weight: 800;
			}
		}
	}

	&__button{
		padding: 17px 29px;
		background: $button-background-white;
		box-shadow: 0px 5px 5px $button-shadow;
		border-radius: 50px;
		display: inline-block;

		&__arrow{
			margin-left: 20px;
			position:relative;
			vertical-align: middle;
		}

		&:hover &__arrow{
			animation: arrowBounce 3s ease-out infinite;
			@keyframes arrowBounce{
				0%, 25%{left: 0px;}
				10%{left: -10px;}
			}
		}
	}
}


/**
***  PAGE CONTENT: MAIN
**/
.main{

	&__section{
		margin: 0 0 100px;
		padding: 50px 0;

		&__title{
			color: $dark-gray;
		}

		&__button{
			display: inline-block;
			padding: 16px 37px;
			font-weight: 800;
			border-radius: 50px;
		}

		&__image{
			width:100%;
		}

		&--bottom-seperation{
			margin-bottom: 50px;
		}


		/* Individual Sections */
		&__one{
			padding: 83px 0 100px;

			&--left{
				width:53%;
			}

			&--right{
				width:47%;
			}

			&__paragraph{
				width: 100%;
				max-width: 380px;
			}

			&__image{
				position: relative;
				top: 100px;
				left: -35%;
				width: 885px;
				z-index: -1;
			}
		}

		&__two{
			padding: 31px 90px 31px 10px;
			grid-gap: 60px;
			border-radius: 50px;

			&--left,
			&--right{
			}
		}

		&__three{

			&__title,
			&__paragraph{
				text-align:center;
				width: 100%;
				max-width: 584px;
				margin-left: auto;
				margin-right: auto;
			}
		}

		&__four{
			padding: 109px 93px 0 60px;
			border-radius: 50px;

			&__title{
				color: white;
			}
		}


		/* Features */
		&__features{
			margin-bottom: 75px;
			grid-gap: 40px;
		}

		&__feature{
			position:relative;
			justify-content: center;
			z-index: 0;
			grid-gap: 30px;

			&--left{
				width: 45%;
				display: flex;
				align-self: center;
			}

			&--right{
				width: 55%;
				padding: 50px 50px 50px 0;
				position: relative;
			}

			&__title{
				padding-bottom: 20px;
			}

			&__link{
				font-weight:bold;
				position: absolute;
				bottom: 0;

				&__arrow{
					margin-left: 20px;
					vertical-align: middle;
				}
			}

			&__background{
				position: absolute;
				top: 0;
				right: 0;
				z-index: -2;

				&--loop{
					position: absolute;
					z-index: -1;
					top: 10px;
					right: 10px;
				}
			}


			/* Individual Sections */
			&__two{
				&__background-loop{
					top: initial;
					bottom: -6%;
					right: 11%;
					transform: rotate(179deg);
				}
			}

			&__three{
				&__background-loop{
					top: 8%;
					right: 12%;
					transform: rotate(179deg);
				}
			}

			&__four{
				&__background-loop{
					top: initial;
					bottom: 0;
					right: 11%;
					transform: rotate(179deg);
				}
			}
		}
	}
}


/**
***  PAGE CONTENT: FOOTER
**/
.footer{

}